@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}


<span id="timer" class="w-auto ms-auto me-3 p-5" data-set-timer-second="60">&nbsp;</span>
<div class="d-flex flex-column vh-100 p-5">
    <span id="title" class="w-auto me-auto mt-1 mb-5">STEPS<span class="emoji clock m-1 display-1" role="img" aria-label="clock"></span></span>
    <span class="w-auto me-auto colored-intro">1. Take 8 photos</span>
    <span class="w-auto me-auto black-intro mb-5">5 seconds preparation time every shot</span>
    <span class="w-auto me-auto colored-intro">2. Pick 4 photos</span>
    <span class="w-auto me-auto black-intro mb-5">Arrange the photo order as well</span>
    <span class="w-auto me-auto colored-intro">3. Select photo style</span>
    <span class="w-auto me-auto black-intro mb-5">Photo filter and frame type</span>
    <div class="button-container mx-auto mt-auto">
        <button type="button" id="btn-next" class="btn btn-secondary btn-lg mx-auto mt-5">
            Okay, I got it &#8594;
        </button>
        <div class="mx-auto mt-2 mb-5 text-center">
            <a href="/" class="text-black">< Go back to first</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const btnNext = document.querySelector('#btn-next');
        const timerSpan = document.querySelector('#timer');

        const goNext = () => {
            window.location.href = `/take-picture`;
        };

        startTimer(timerSpan, goNext);

        btnNext.addEventListener('click', goNext);
    });
</script>
