@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}

<div class="d-flex flex-column min-vh-100 p-5">
    <img src="/images/main_title.png" class="w-100 h-100" />
    <img src="/images/main_camera.png" class="w-50 h-50 align-self-end" />
    <div class="button-container mx-auto mt-auto">
        <button type="button" id="btn-next" class="btn btn-primary btn-lg">Get started &#8594;</button>
        @*👉*@
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#btn-next').addEventListener('click', () => {
            window.location.href = '/pay';
        });
    });
</script>
