@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}

<div class="d-flex flex-column min-vh-100 py-5">
    <span id="title" class="w-auto me-auto mt-5">Haru Haru</span>
    <span id="sub-title" class="w-auto me-auto">Self photo booth form Korea 🇰🇷</span>
    <div class="mx-auto mt-auto mb-5">
        <button type="button" id="btn-next" class="btn btn-primary btn-lg">Get started &#8594;</button>
        @*👉*@
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#btn-next').addEventListener('click', () => {
            window.location.href = '/pay';
        });
    });
</script>
