@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}

<style type="text/css">
    #title {
        font-family: SeoulNamsan CL;
        font-size: 100px;
        font-weight: 400;
        height: 200px;
        letter-spacing: -0.05em;
        text-align: left;
    }

    .info-text {
        font-family: SeoulNamsan CL;
        font-size: 35px;
    }
</style>

<div class="container w-100">
    <div class="row">
        <span class="w-auto mx-auto info-text">photo.moment</span>
    </div>
    <div class="row">
        <span id="title" class="w-auto mx-auto info-text">20RM for 1+1 photo</span>
    </div>
    <div class="row">
        <span class="w-auto mx-auto info-text">Hi there!</span>
    </div>
    <div class="row">
        <span class="w-auto mx-auto info-text">please pay to staff first, then they will start the process.</span>
    </div>
    <div class="row">
        <button type="button" id="btn-start" class="btn btn-secondary btn-lg w-auto mx-auto mt-5"
                data-bs-toggle="modal" data-bs-target="#modal-password">
            Locked 🔒
        </button>
    </div>
</div>

<div class="modal fade" id="modal-password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form asp-controller="Page" asp-action="CheckPassword">
        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Input Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3 align-items-center">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Please enter a password." />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="submit" class="btn btn-primary">Get started</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#submit').addEventListener('click', function() {
            let password = document.querySelector('#password').value;

            if (!password) {
                alert('Please enter a password!');
                return;
            }

            const myHeaders = new Headers();

            myHeaders.append('Content-Type', 'application/x-www-form-urlencoded');

            const formData = new URLSearchParams();

            formData.append('password', password);
            formData.append('__RequestVerificationToken', document.getElementsByName('__RequestVerificationToken')[0].value);

            // JJ: MONA fetch API 참고하기
            fetch('/check-password', {
                method: 'POST',
                body: formData,
                headers: myHeaders,
            })
                .then(response => response.text())
                .then(result => { })
                .catch(error => alert('wrong password!'));
        });
    });
</script>
