@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}


<div class="d-flex flex-column min-vh-100 py-5">
    <span id="intro" class="w-auto me-auto mt-5">안녕하세요. 👋</span>
    <span id="sub-intro" class="w-auto me-auto">Hi there, which would you like?</span>
    <div class="d-flex flex-row justify-content-center my-5">
        <div class="me-5">
            <div class="picture-option"></div>
        </div>
        <div class="">
            <div class="picture-option"></div>
        </div>
    </div>
    <div class="mx-auto mt-auto">
        <button type="button" id="btn-next" class="btn btn-secondary btn-lg mx-auto mt-5"
                data-bs-toggle="modal" data-bs-target="#modal-password" disabled>
            🔒 Call staff to play
        </button>
    </div>
    <div class="mx-auto mt-2 mb-5">
        <a href="/" class="text-black">< Go back to first</a>
    </div>
</div>

<div class="modal fade" id="modal-password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form asp-controller="Page" asp-action="CheckPassword">
        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Input Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3 align-items-center">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Please enter a password." />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="submit" class="btn btn-primary">Get started</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const options = document.querySelectorAll('.picture-option');
        const btnNext = document.querySelector('#btn-next');

        const checkOptions = () => {
            let selectedOptions = document.querySelector('.picture-option.selected');

            btnNext.disabled = !selectedOptions;
        };

        options.forEach(option => {
            option.addEventListener('click', () =>  {
                options.forEach(option => option.classList.remove('selected'));
                option.classList.add('selected');
                checkOptions();
            });
        });

        document.querySelector('#submit').addEventListener('click', function() {
            let password = document.querySelector('#password').value;

            if (!password) {
                alert('Please enter a password!');
                return;
            }

            const myHeaders = new Headers();

            myHeaders.append('Content-Type', 'application/x-www-form-urlencoded');

            const formData = new URLSearchParams();

            formData.append('password', password);
            formData.append('__RequestVerificationToken', document.getElementsByName('__RequestVerificationToken')[0].value);

            fetch('/check-password', {
                method: 'POST',
                body: formData,
                headers: myHeaders,
            })
                .then(response => {
                    if (response.ok) {
                        return;
                    }

                    if (response.status == 401) {
                        throw new Error('wrong password!');
                    } else {
                        throw new Error('internal server error!');
                    }
                })
                .then(() => { window.location.href = '/take-picture'; })
                .catch(error => alert(error));
        });
    });
</script>
