@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}


<div class="d-flex flex-column vh-100 p-5">
    <span id="intro" class="w-auto me-auto mt-5">안녕하세요 <span class="emoji wave m-0 display-1" role="img" aria-label="hand wave"></span></span>
    <span id="sub-intro" class="w-auto lh-1 pb-2">Hi there, which would you like?</span>
    <div class="d-flex flex-row justify-content-center mt-5">
        <div class="me-5">
            <div class="mx-auto text-center text-option invisible">
                <span class="text-decoration-underline">📍 Selected!</span>
            </div>
            <div class="picture-option" data-print-count="1">
                <img src="/images/15RM.png" class="w-100 h-100" />
            </div>
        </div>
        <div class="">
            <div class="mx-auto text-center text-option invisible">
                <span class="text-decoration-underline">📍 Selected!</span>
            </div>
            <div class="picture-option" data-print-count="2">
                <img src="/images/20RM.png" class="w-100 h-100" />
            </div>
        </div>
    </div>
    <div class="fixed-bottom px-5">
        <button type="button" id="btn-next" class="btn btn-secondary btn-lg mx-auto mt-5" disabled>
            🔒 Call staff if not paid
        </button>
        <div class="mx-auto mt-2 mb-5 text-center">
            <a href="/" class="text-black text-decoration-none">< Go back to first</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const options = document.querySelectorAll('.picture-option');
        const texts = document.querySelectorAll('.text-option');
        const btnNext = document.querySelector('#btn-next');

        const checkOptions = () => {
            const selectedOptions = document.querySelector('.picture-option.selected');

            btnNext.disabled = !selectedOptions;

            // 상단 select 버튼 초기화
            texts.forEach(text => {
                text.classList.add('invisible');
            });

            // 선택하지 않은 이미지에 블러 추가
            options.forEach(option => {
                if (option.classList.contains('selected')) {
                    option.parentNode.querySelector('.text-option').classList.remove('invisible');
                }
                else {
                    option.classList.add('non-selected');
                }
            });
        };

        options.forEach(option => {
            option.addEventListener('click', () => {
                options.forEach(option => {
                    option.classList.remove('selected');
                    option.classList.remove('non-selected');
                });
                option.classList.add('selected');

                checkOptions();
            });
        });

        btnNext.addEventListener('click', () => {
            const count = document.querySelector('.picture-option.selected')?.getAttribute("data-print-count");

            sessionStorage.setItem("count", count);

            window.location.href = `/take-picture`;
        });
    });
</script>
