@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}


<div class="d-flex flex-column min-vh-100 p-5">
    <span id="intro" class="w-auto me-auto mt-5">안녕하세요. 👋</span>
    <span id="sub-intro" class="w-auto me-auto">Hi there, which would you like?</span>
    <div class="d-flex flex-row justify-content-center my-5">
        <div class="me-5">
            <div class="picture-option" data-rm="18">
                <img src="/images/18RM.png" class="w-100 h-100" />
            </div>
        </div>
        <div class="">
            <div class="picture-option" data-rm="29">
                <img src="/images/29RM.png" class="w-100 h-100" />
            </div>
        </div>
    </div>
    <div class="button-container mx-auto mt-auto">
        <button type="button" id="btn-next" class="btn btn-secondary btn-lg mx-auto mt-5" disabled>
            🔒 Call staff to play
        </button>
        <div class="mx-auto mt-2 mb-5 text-center">
            <a href="/" class="text-black">< Go back to first</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const options = document.querySelectorAll('.picture-option');
        const btnNext = document.querySelector('#btn-next');

        const checkOptions = () => {
            const selectedOptions = document.querySelector('.picture-option.selected');

            btnNext.disabled = !selectedOptions;
        };

        options.forEach(option => {
            option.addEventListener('click', () =>  {
                options.forEach(option => option.classList.remove('selected'));
                option.classList.add('selected');
                checkOptions();
            });
        });

        btnNext.addEventListener('click', () => {
            const rm = document.querySelector('.picture-option.selected')?.getAttribute("data-rm");
            window.location.href = `/step-page?rm=${rm}`;
        });
    });
</script>
