@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}

<div id="picture-list-area" class="d-flex flex-column min-vh-100 p-5">
    <p id="pickPhoto-timer" class="text-end">Time left <span id="timer"></span>s</p>
    <span id="pick" class="w-auto me-auto mt-1">Pick 4 photos</span>
    <div class="d-flex flex-row mb-3 justify-content-center">
        <div id="img1" class="pick-option mx-3 position-relative" style="width: 30%; height: 100%;">
            <div class="pick-label" style=""></div>
        </div>
        <div id="img2" class="pick-option mx-3 position-relative" style="width: 30%; height: 100%;">
            <div class="pick-label" style=""></div>
        </div>
        <div id="img3" class="pick-option mx-3 position-relative" style="width: 30%; height: 100%;">
            <div class="pick-label" style=""></div>
        </div>
    </div>
    <div class="d-flex flex-row mb-3 justify-content-center">
        <div id="img4" class="pick-option mx-3 position-relative" style="width: 30%; height: 100%;">
            <div class="pick-label" style=""></div>
        </div>
        <div id="img5" class="pick-option mx-3 position-relative" style="width: 30%; height: 100%;">
            <div class="pick-label" style=""></div>
        </div>
        <div id="img6" class="pick-option mx-3 position-relative" style="width: 30%; height: 100%;">
            <div class="pick-label" style=""></div>
        </div>
    </div>
    <div class="d-flex flex-row mb-3 justify-content-center">
        <div id="img7" class="pick-option mx-3 position-relative" style="width: 30%; height: 100%;">
            <div class="pick-label" style=""></div>
        </div>
        <div id="img8" class="pick-option mx-3 position-relative" style="width: 30%; height: 100%;">
            <div class="pick-label" style=""></div>
        </div>
        <div class="mx-3 text-center position-relative top-50" style="width: 30%; height: 100%;">
            <a id="reset" class="text-black">RESET ALL</a>
            <button type="button" id="btn-done" class="btn btn-secondary justify-content-center" data-toggle="modal" data-target="#exampleModal">
                Done
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="picture-priview-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-white pt-4 pe-4">
                <h3 class="modal-title">preview</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-white">
                <div class="container photo-container">
                    <div class="row">
                        <div id="preview-img1" class="col p-0">
                        </div>
                        <div id="preview-img2" class="col p-0">
                        </div>
                    </div>

                    <div class="row" style="height:11px;"></div>

                    <div class="row">
                        <div id="preview-img3" class="col p-0">
                        </div>
                        <div id="preview-img4" class="col p-0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-white">
                <button type="button" id="btn-confirm" class="btn btn-secondary btn-purple">Confirm</button>
            </div>
            <a id="init" ontouchstart="javascript:sndInit();"></a>
        </div>
    </div>
</div>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', () => {

        // 사진 로드
        for (let i = 0; i < 8; i++) {
            const pictureUri = localStorage.getItem(`pick_image${(i + 1)}_src`);

            if (pictureUri == undefined) {
                alert('시스템 오류가 발생했습니다.');

                window.location.href = '/pay';
                break;
            }

            document.querySelector(`#img${(i + 1)}`).innerHTML += `
                    <img src="${pictureUri}" style="max-width: 100%;" />
                `;
        }

        // 타이머 시작
        var pickPhototimer;
        const initPickPhotoTimer = (time) => {
            if (pickPhototimer != undefined) {
                clearInterval(pickPhototimer);
            }

            pickPhototimer = setInterval(() => {
                $("#timer").text(time);
                time--;

                if (time < 0) {
                    clearInterval(pickPhototimer);

                    // 사진 관련 로컬 스토리지 초기화 
                    for (let i = 0; i < 8; i++) {
                        localStorage.removeItem(`pick_image${i + 1}_src`);
                    }
                    for (let i = 0; i < 4; i++) {
                        localStorage.removeItem(`image{i + 1}_src`);
                    }

                    // 시간 초과 이후 동작
                    localStorage.setItem("image1_src", $("#img1 img")[0].src);
                    localStorage.setItem("image2_src", $("#img2 img")[0].src);
                    localStorage.setItem("image3_src", $("#img3 img")[0].src);
                    localStorage.setItem("image4_src", $("#img4 img")[0].src);

                    // setTimeout 함수를 사용하여 300ms 뒤에 페이지 이동을 수행합니다.
                    setTimeout(function () {
                        // localStorage에 모든 데이터가 저장되어 있는지 확인합니다.
                        if (localStorage.getItem("image1_src") &&
                            localStorage.getItem("image2_src") &&
                            localStorage.getItem("image3_src") &&
                            localStorage.getItem("image4_src")) {

                            // 모든 데이터가 저장되어 있다면 페이지 이동을 수행합니다.
                            location.replace("/select-page");
                        } else {

                        }
                    }, 300);
                }

            }, 1000);
        }
        initPickPhotoTimer(80);

  

        // 사진 선택하기
        const options = document.querySelectorAll('.pick-option');

        const checkOptions = () => {
            const selectedOptions = document.querySelectorAll('.pick-option.selected');

            // 5개부터는 클릭 불가능하게 함
            if (selectedOptions != null && selectedOptions.length >= 4) {
                return false;
            }

            return true;
        };

        options.forEach(option => {
            option.addEventListener('click', () => {
                if (option.classList.contains("selected")) {
                    option.classList.remove('selected');
                    option.querySelector('.pick-label').classList.remove('selected', 'badge');

                    let optionLabel = option.querySelector('.pick-label').innerText;
                    document.querySelectorAll('.pick-label.selected.badge').forEach(function (item) {
                        if (item.innerText > optionLabel) {
                            item.innerText = item.innerText - 1;
                        }
                    });

                }
                else {

                    // 5개 이상 선택 안되게 함
                    if (!checkOptions()) {
                        return;
                    }

                    option.classList.add('selected');
                    option.querySelector('.pick-label').classList.add('selected', 'badge');

                    option.getElementsByClassName('pick-label')[0].innerText
                        = document.querySelectorAll('.pick-option.selected').length;

                }

            });
        });

        const btnDone = document.querySelector('#btn-done');

        btnDone.addEventListener('click', () => {
            const selectedOptions = document.querySelectorAll('.pick-option.selected');

            if (selectedOptions.length < 4) {
                alert('4개의 사진을 선택해주세요');
                return;
            }

            // 선택된 순서대로 정렬
            for (let i = 0; i < 4; i++) {
                const previewUri = selectedOptions[i];
                let pickImgSrc = selectedOptions[i].querySelector('img').src;


                let order = selectedOptions[i].querySelector('.pick-label').innerText;
                document.querySelector(`#preview-img${order}`).innerHTML = `
                    <img src="${pickImgSrc}" class="pick-option" style="max-width: 100%;" />
                `;
            }

            $('#picture-priview-modal').modal('show');
        });

        const btnConfirm = document.querySelector('#btn-confirm');
        btnConfirm.addEventListener('click', () => {
            // 사진 관련 로컬 스토리지 초기화 
            for (let i = 0; i < 8; i++) {
                localStorage.removeItem(`pick_image${i + 1}_src`);
            }
            for (let i = 0; i < 4; i++) {
                localStorage.removeItem(`image{i + 1}_src`);
            }

            localStorage.setItem("image1_src", $("#preview-img1 img")[0].src);
            localStorage.setItem("image2_src", $("#preview-img2 img")[0].src);
            localStorage.setItem("image3_src", $("#preview-img3 img")[0].src);
            localStorage.setItem("image4_src", $("#preview-img4 img")[0].src);

            // setTimeout 함수를 사용하여 300ms 뒤에 페이지 이동을 수행합니다.
            setTimeout(function () {
                // localStorage에 모든 데이터가 저장되어 있는지 확인합니다.
                if (localStorage.getItem("image1_src") &&
                    localStorage.getItem("image2_src") &&
                    localStorage.getItem("image3_src") &&
                    localStorage.getItem("image4_src")) {

                    // 모든 데이터가 저장되어 있다면 페이지 이동을 수행합니다.
                    location.replace("/select-page");
                } else {

                }
            }, 300);

        });
        document.querySelector('#reset').addEventListener('click', () => {
            const selectedOptions = document.querySelectorAll('.pick-option.selected');

            selectedOptions.forEach((option) => {
                option.classList.remove('selected');
                option.querySelector('.pick-label').classList.remove('selected', 'badge');
                option.querySelector('.pick-label').innerText = "";
            });

        });
    });
</script>
