@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}

<div id="printing-area" class="container min-vh-100 p-5">
    <span id="title" class="w-auto me-auto d-block pt-3">Now Printing 🖨️</span>
    <span id="sub-intro" class="w-auto me-auto">You can also get a digital file</span>

    <div id="download-area">
        <div class="d-flex flex-column">
            <div class="me-auto ms-auto">
                <span class="colored-intro">Scan to download</span>
            </div>
            <div id="qr-code-area" class="me-auto ms-auto mt-1"></div>
        </div>
    </div>

    <div class="fixed-bottom px-5 pb-5 mb-5">
        <button type="button" id="btn-go-to-first" class="btn btn-lg mt-5">Get your photo at center</button>
    </div>
</div>

<script src="~/js/qrcode.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const qrArea = document.querySelector('#qr-code-area');

        new QRCode(qrArea, { text: '@ViewData["url"]' , width: 320, height: 320 });

        document.querySelector('#btn-go-to-first').addEventListener('click', () => {
            window.location.href = `/`;
        });
    });
</script>
