@model WebCameraControl.Models.IndexModel

@{
    Layout = "_Layout";
}


<div id="select-style-area" class="container min-vh-100 p-5">
    <p id="selectPage-timer" class="text-end">Timer left</p>
    <span class="title w-auto me-auto mt-1">Select Style</span>
    <div class="row w-100 mb-5 mt-5 justify-content-start">
        <div id="preview-frame" class="col-auto p-0">
            <canvas id="canvas" width="900" height="1200" style="width: 300px; height: 400px;"></canvas>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="select-filter">
                    <p class="option-title">photo filter</p>
                    <div class="d-flex flex-row">
                        <div class="filter selected" data-filter="original">colored</div>
                        <div class="filter ms-2" data-filter="twenties">greyscale</div>
                        <div class="filter ms-2" data-filter="rosetint">vintage</div>
                    </div>
                </div>
            </div>
            <div class="row" style="height:30px;"></div>
            <div class="row">
                <div class="select-color">
                    <p class="option-title">frame color</p>
                    <div class="row">
                        <div class="color col">
                            <div id="color-white" class="frame-color selected" data-frame="frame_white.png" data-type="white"></div>
                            <div class="text-color">white</div>
                        </div>
                        <div class="color col">
                            <div id="color-black" class="frame-color" data-frame="frame_black.png"></div>
                            <div class="text-color">black</div>
                        </div>
                        <div class="color col">
                            <div id="color-gray" class="frame-color" data-frame="frame_gray.png"></div>
                            <div class="text-color">gray</div>
                        </div>
                        <div class="color col">
                            <div id="color-red" class="frame-color" data-frame="frame_red.png"></div>
                            <div class="text-color">red</div>
                        </div>
                        <div class="color col">
                            <div id="color-purple" class="frame-color" data-frame="frame_purple.png"></div>
                            <div class="text-color">purple</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-bottom px-5 pb-5 mb-5">
        <button type="button" id="btn-go-to-print" class="btn btn-lg">Go to print →</button>
    </div>
</div>

<script src="~/js/pixels.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const imageWidth = 354;
        const imageHeight = 492;
        const marginLeft = 91;
        const marginTop = 54;
        const spaceX = 14;
        const spaceY = 13;

        async function setCanvas(frameSource) {
            let context = canvas.getContext('2d');

            const frame = new Image();
            frame.src = frameSource ?? `/images/frame_white.png`;
            frame.onload = () => {
                context.drawImage(frame, 0, 0, 900, 1200);
                drawImages(context);
            };
        }

        function drawImages(context) {
            const image1 = new Image();
            image1.src = localStorage.getItem('image1_src');
            image1.onload = () => {
                context.drawImage(image1, marginLeft, marginTop, imageWidth, imageHeight);
            };

            const image2 = new Image();
            image2.src = localStorage.getItem('image2_src');
            image2.onload = () => {
                context.drawImage(image2, marginLeft + imageWidth + spaceX, marginTop, imageWidth, imageHeight);
            };

            const image3 = new Image();
            image3.src = localStorage.getItem('image3_src');
            image3.onload = () => {
                context.drawImage(image3, marginLeft, marginTop + imageHeight + spaceY, imageWidth, imageHeight);
            };

            const image4 = new Image();
            image4.src = localStorage.getItem('image4_src');
            image4.onload = () => {
                context.drawImage(image4, marginLeft + imageWidth + spaceX, marginTop + imageHeight + spaceY, imageWidth, imageHeight);
            };
        }

        const filterList = pixelsJS.getFilterList();

        async function setFilters(filterName) {
            if (filterName === 'original') {
                const frame = document.querySelector('.frame-color.selected');
                await setCanvas(`/images/${frame.dataset.frame}`);
                return;
            }

            let context = canvas.getContext('2d', { willReadFrequently: true, });

            let index = Math.floor(Math.random() * filterList.length);
            let filter = filterName === 'random' ? filterList[index] : filterName;

            const image1 = new Image();
            image1.src = localStorage.getItem('image1_src');

            let imgData1 = context.getImageData(marginLeft, marginTop, imageWidth, imageHeight);
            let imgData2 = context.getImageData(marginLeft + imageWidth + spaceX, marginTop, imageWidth, imageHeight);
            let imgData3 = context.getImageData(marginLeft, marginTop + imageHeight + spaceY, imageWidth, imageHeight);
            let imgData4 = context.getImageData(marginLeft + imageWidth + spaceX, marginTop + imageHeight + spaceY, imageWidth, imageHeight);

            let newImgData1 = pixelsJS.filterImgData(imgData1, filter);
            let newImgData2 = pixelsJS.filterImgData(imgData2, filter);
            let newImgData3 = pixelsJS.filterImgData(imgData3, filter);
            let newImgData4 = pixelsJS.filterImgData(imgData4, filter);

            context.putImageData(newImgData1, marginLeft, marginTop);
            context.putImageData(newImgData2, marginLeft + imageWidth + spaceX, marginTop);
            context.putImageData(newImgData3, marginLeft, marginTop + imageHeight + spaceY);
            context.putImageData(newImgData4, marginLeft + imageWidth + spaceX, marginTop + imageHeight + spaceY);
        }
        const canvas = document.querySelector('#canvas');

        setCanvas();

        const filterOptions = document.querySelectorAll('.filter');
        const frameOptions = document.querySelectorAll('.frame-color');

        [ ...filterOptions, ...frameOptions ].forEach(option => {
            option.addEventListener('click', async function () {
                const isFilter = this.classList.contains('filter');
                const options = isFilter ? filterOptions : frameOptions;

                options.forEach(o => o.classList.remove('selected'));
                this.classList.add('selected');

                if (isFilter) {
                    await setFilters(this.dataset.filter);
                } else {
                    // preview-frame에 흰색일때만 구분선으로 border 주기
                    if (this.dataset.type === 'white') {
                        $("#preview-frame").css("border", "0.7px solid #838383");
                    }
                    else {
                        $("#preview-frame").css("border", "none");
                    }

                    await setCanvas(`/images/${this.dataset.frame}`);
                }

            });
        });

        document.querySelector('#btn-go-to-print').addEventListener('click', () => {
            const base64Image = canvas.toDataURL('image/jpeg').split(';base64,')[1];

            fetch('/api/image/print', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    base64imageSource: base64Image,
                }),
            })
                .then(async (response) => {
                    if (response.ok) {
                        return response.json();
                    }

                    const text = await response.text();
                    throw new Error(text);
                })
                .then((data) => {
                    window.location.href = `/printing/${data}`;
                })
                .catch((error) => {
                    alert(`에러 발생!\n${error}`);
                });
        });
    });
</script>
