html {
    -webkit-text-size-adjust: none;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* common */
#btn-go-to-print {
    font-family: 'Lexend Deca';
    font-size: 3em;
    background-color: #742DDD;
    color: #FFFFFF;
    width: 100%;
}

/* index */
#title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 8em;
    color: #000000;
}

#sub-title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5em;
    color: #000000;
}

#btn-next {
    font-family: 'Lexend Deca';
    font-size: 3em;
    background-color: #742DDD;
    width: 100%;
}

.button-container {
    margin-bottom: 7rem !important;
    width: 100%;
}

/* pay */
#intro {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 6em;
    color: #000000;
}

#sub-intro {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    color: #000000;
}

/* pay */
.colored-intro {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    color: #742DDD;
}

.picture-option {
    width: 300px;
    height: 400px;
    border-radius: 4px;
    background: #403f3f;
    background: rgba(64, 63, 63, 0.9);
    cursor: pointer;
}

.picture-option.selected {
    border: 3px solid #C2A9FA;
    border-radius: 4px;
}

.text-option {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    color: #000000;
}

/* Take Picture */
#camera-preview {
/*    position: relative;*/
}

#camera-preview video {
    object-fit: cover;
}

#take-picture-area {
    position: relative;
}

#camera-timer {
    font-family: 'Lexend Deca';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    font-size: 6em;
    line-height: 16px;
    letter-spacing: -0.4px;
    color: #FFF2B6;
    text-shadow: 0 0 2px #000;
}

#camera-counter {
    font-family: 'Lexend Deca';
    position: absolute;
    font-weight: 600;
    font-size: 3.5em;
    top:3%;
    line-height: 16px;
    color: #FFF2B6;
    letter-spacing: -1.4px;
    text-shadow: 0 0 2px #000;
}

#pick {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 6em;
    color: #000000;
}

#reset {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    color: #000000;
}

.pick-option.selected {
    border: 5px solid #6211C8;
    border-radius: 4px;
}

#btn-done {
    font-family: 'Lexend Deca';
    font-size: 2em;
    background-color: #742DDD;
    width: 50%;
}

#picture-priview-modal .modal-title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
}

#picture-priview-modal .modal-footer .btn-purple {
    width: 48%;
    font-size: 2em;
    background-color: #742DDD;
    color: #FFFFFF;
}

#picture-priview-modal .modal-footer .btn-white {
    width: 48%;
    font-size: 2em;
    background-color: #FFFFFF;
    color: #742DDD;
}

#picture-priview-modal .photo-container {
    background-image: url("/images/frame_white.png");
    background-size: contain;
    width: 450px;
    height: 600px;
    padding: 13px 41px;
}

#picture-priview-modal .photo-container .pick-option {
    width: 187px;
    height: 250px;
}

#picture-priview-modal .photo-footer {
    text-align: center;
}

/* Select Page*/
#select-style-area .title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 6em;
    color: #000000;
}

#select-style-area .photo-container {
    background-color: #D9D9D9;
    padding: 12px;
}

#select-style-area .photo-container .photo-footer {
    text-align: center;
}

#select-style-area .option-title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 15px;
    color: #000000;
}

#select-style-area .select-filter .filter {
    border-radius: 11px;
    font-size: 1em;
    padding: 5px;
    color: #757575;
    border-color: #757575;
    border-style: solid;
}

#select-style-area .select-filter .filter.selected {
    background-color: #742DDD;
    color: #FFFFFF;
}

#select-style-area .select-color .preview-color {
    width: 35px;
    height: 35px;
    left: 148px;
    top: 164px;
    border: 0.2px solid #000000;
    border-radius: 100%;
}

#select-style-area .select-color .preview-color.selected {
    border: 5px solid #6211C8;
}

#select-style-area .select-color .text-color {
    font-size: 1em;
    text-align: center;
}

#color-white {
    background-color: #FFFFFF;
}

#color-black {
    background-color: #000000;
}

#color-gray {
    background-color: #D9D9D9;
}

#color-red {
    background-color: #F0A8B3;
}

#color-purple {
    background-color: #DBD1FF;
}

/* Step */
.black-intro {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    color: #7E7E7E;
}
